/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: #fff;
  color: #000;
  font-family: 'Kantumruy Pro', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0px auto;
}

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center ;
  justify-content: space-around;
  padding: 10px 0px;
}

.header > h1{
  color: #000;
}

.header > a {
  color: #000;
}

.upload-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.upload-container > form {
  display: flex;
  flex-direction: column;
}

.upload-container > form > label, .field {
  margin-top: 20px;
}

.upload-container > form > input[type="submit"], .new_user input[type="submit"] {
  margin-top: 20px;
  background-color: #261299;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.new_user input[type="submit"] {
  width: 100%;
}

.files-container {
  margin: 30px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.file-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0px 0px 18px 3px rgba(6, 0, 61, 0.06);
  padding: 5px 5px 10px 5px;
}

.file-container:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 3px rgba(6, 0, 61, 0.17);
}

.trash-sub-container {
  height: 25px;
  width: 25px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
  opacity: 0.5;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.trash-sub-container:hover {
  opacity: 1;
  background-color: #f9372b;
}

.trash-sub-container:active {
  transform: scale(0.95);
}

.info-sub-container, .token-sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.info-sub-container > img, .token-sub-container > img, .token-sub-container > form > input {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.token-sub-container > img, .token-sub-container > form > input {
  margin: 0px 5px;
}

.token-sub-container > p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  white-space: nowrap;
}


.info-sub-container > img:active, .token-sub-container > img:active {
  transform: scale(0.95);
}

.file-sub-container {
  position: relative;
  max-width: 320px;
  width: 100%;
  max-height: 320px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-sub-container:active {
  transform: scale(0.95);
}

.file-sub-container > p.info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  background: #261299;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
  display: none;
}

.file-sub-container:hover > p {
  display: block;
}

.file-sub-container > img {
  max-height: 100%;
  width: 100%;
  border-radius: inherit;
}

.copy-notice, div.notice {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 800;
  z-index: 100;
}

div.notice {
  background: #fff;
  transition: all 0.3s ease;
}

div.notice > p {
  margin: 0px;
}

p.notice {
  color: #00c49a;
}

p.alert {
  color: #f9372b;
}


.copy-notice > p {
  margin: 0;
}

.copy-notice.success {
  background-color: #00c49a;
  color: #fff;
}

.copy-notice.error {
  background-color: #f9372b;
}

.copy-notice.success :nth-child(2) {
  display: none;
}

.copy-notice.success :nth-child(1) {
  display: block;
}

.copy-notice.error :nth-child(2) {
  display: block;
}

.copy-notice.error :nth-child(1) {
  display: none;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 800;
}

.appear {
  animation-name: appear_from_rigth;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes appear_from_rigth {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.show {
  display: block !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mt_20px {
  margin-top: 20px;
}

@media only screen and (max-width: 875px) {
  .header {
    background-color: #fff6;
  }
}
